---

---

<div
  class="text-4xl pt-8 pb-6 font-lora text-DarkBlue font-medium flex justify-center animate-on-scroll"
>
  <h2>Read The Recent Issue</h2>
</div>
<script>
import { initScrollAnimations } from "../../scrollAnimations"

  document.addEventListener('DOMContentLoaded', () => {
    initScrollAnimations()
  })
</script>
