---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/HeroSection.astro'
import BlogHeader from '../components/Blogs/BlogHeader.astro'
// import NavBar from '../components/NavBar/NavBar.astro'
import BlogContainer from '../components/Blogs/BlogContainer.astro'
import Footer from '../components/Footer.astro'
import ReviewsSection from '../components/Reviews/ReviewsSection.astro'
import ProfileContainer from '../components/Profile/ProfileContainer.astro';

---

<Layout title="">
	<main>
<HeroSection/>
<BlogHeader/>
<BlogContainer/>
<ProfileContainer />
<ReviewsSection />
<Footer/>
	</main>
</Layout>

