---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import NavBar from '../components/NavBar/NavBar.astro';
import BlogContainer from '../components/Blogs/BlogContainer.astro';
import Footer from '../components/Footer.astro';
---


<Layout title="">
	<main>
<HeroSection/>
<NavBar />
<BlogContainer/>
<Footer/>
	</main>
</Layout>