<div class="top-0 py-1 lg:py-2 w-full bg-transparent lg:relative z-50 dark:bg-gray-900">
  <nav class="p-4 m-4">
    <div class="flex flex-col lg:flex-row items-center justify-between">
      <ul class="font-buttons grid grid-cols-1 md:grid-col-span-3 md-lg:gap-8 md-lg:grid-cols-3 lg:grid-cols-5 grid-rows-1 sm:grid-cols-2 gap-2 lg:gap-16 p-2 items-center">
        <li class="block py-2 pl-3 pr-4 hover:bg-slate-600 hover:text-white border border-slate-900">
          <a href="#">Recent</a>
        </li>
        <li class="block py-2 pl-3 pr-4 hover:bg-slate-600 hover:text-white border border-slate-900">
          <a href="#">Swamp It Like Its Hot</a>
        </li>
        <li class="block py-2 pl-3 pr-4 hover:bg-slate-600 hover:text-white border border-slate-900">
          <a href="#">Dragon Tales (Yeah, You Know What I Mean)</a>
        </li>
        <li class="block py-2 pl-3 pr-4 hover:bg-slate-600 hover:text-white border border-slate-900">
          <a href="#">Makeovers & Meltdowns</a>
        </li>
        <li class="block py-2 pl-3 pr-4 hover:bg-slate-600 hover:text-white border border-slate-900">
          <a href="#">Beauty & the Beast Mode</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

