---
const currentYear = new Date().getFullYear()
---

<footer class="w-full h-80 bg-slate-700 text-white">
  <div
    class="container mx-auto h-full flex flex-col justify-end items-center outline-dashed"
  >
    <div class="outline-dashed">
      <!-- Social links -->
       <div>
        <a href=""></a>
       </div>
      <!-- Footer links -->
      <div class="mb-10">
        <a class="mx-4" href="#">Home</a>
        <a class="mx-4" href="/#blogs">Blogs</a>
        <a class="mx-4" href="">Reviews</a>
        <hr />
      </div>
      <!-- Copyright -->
      <p class="mb-4">&copy; Copyright Team Fairydust {currentYear}</p>
    </div>
  </div>
</footer>
